@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color-scheme: dark;
  color: white;
  background: black;

  overflow-y: overlay;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-gradient {
  background: linear-gradient(
    90deg,
    #1137ba,
    #82008f,
    #c0007a,
    #ea0c5f,
    #ff5341,
    #ff8820,
    #f6ba00cc
  );
}

.grid-gradient {
  mask-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
}

.slider {
  overscroll-behavor-inline: contain;
  scroll-snap-type: inline mandatory;
}

.slider > * {
  scroll-snap-align: start;
}

.slider::-webkit-scrollbar {
  height: 15px;
  z-index: 100;
}

.slider::-webkit-scrollbar-track {
  border-radius: 3px;
  background: #111111;
}

.slider::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #222222;
}

.dropdown-menu-content[data-state="open"] {
  animation: fadeIn 150ms ease-out;
}

.dropdown-menu-content[data-state="closed"] {
  animation: fadeOut 150ms ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-4px);
  }
}
